---

- name: Upgrade all packages
  apt:
    upgrade: dist
    update_cache: yes
  become: true

- name: install core packages
  apt:
    name:
      - build-essential
      - vim
      - curl
      - whois
      - libgc-dev
      - silversearcher-ag
      - wl-clipboard
      - bible-kjv
      - nvim
    state: present
  become: true
