elpa/
.emacs.desktop
.emacs.desktop.lock
.smex-items
custom.el
history
ido.hist
places
transient/
straight/
tramp
.cache/
.dap-breakpoints
.lsp-session-*
lsp-cache/
projectile-bookmarks.eld
session.*
eln-cache/
undo/
recentf
auto-save-list/
emacs-*/
